#student,#purple1{
    color: rgb(139,0,139);
  }
div{
    background-color: rgb(147,112,219);
    color: white;
    max-height:1500px;
   }
#green{
          color: rgb(0,200,0);
          }
#purple{
        color: rgb(139,0,139);
        }